<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>GlowstonePanel</title>
	<script type="text/javascript">
		var adblock = true;
	</script>
	<script type="text/javascript" src="adframe.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">
</head>

<body>
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="#">GlowstonePanel</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
						<li><a href="server">Server</a></li>
						<li><a href="#">Files & Plugins</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		<div class="logotipo">
			<img src="images/logo.png" width="100" alt="">
		</div>
	</header>
	<footer>
		<p class="blanco">@2017 GlowstonePanel</p>
	</footer>