<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>Glowy Control Panel</title>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="shortcut icon" type="image/x-icon" href="">

    <link rel="apple-touch-icon" sizes="60x60" href="images/ico/apple-icon-60.png">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="stylesheet" type="text/css" href="bscss/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/icomoon.css">
    <link rel="stylesheet" type="text/css" href="fonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="css/extensions/pace.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/colors.css">
    <link rel="stylesheet" type="text/css" href="css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="css/core/menu/menu-types/vertical-overlay-menu.css">
    <link rel="stylesheet" type="text/css" href="css/core/colors/palette-gradient.css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>


</head>

<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-xl navbar-light fixed-top" style="background-color: #00ccff;">
        <ul class="nav navbar-nav">
            <li class="nav-item hidden-sm-down"><a class="nav-link nav-menu-main menu-toggle hidden-xs text-white"><i class="icon-menu5">         </i></a></li>
            <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2 text-white"></i></a></li>
        </ul>
        <div class="container">
            <a class="navbar-brand text-white" href="/">Glowy Panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
                    </li>
                    <li class="dropdown dropdown-user nav-item"><a data-toggle="dropdown" class="nav-link text-white" id="who"></a>
                        <div class="dropdown-menu dropdown-menu-right"><a href="#" class="dropdown-item"><i class="icon-head"></i> Edit Profile</a>
                            <div class="dropdown-divider"></div><a href="logout" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Services</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-light navbar-light" style="background-color: #33adff;"></div>
    </nav>



    <!-- main menu-->
    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-light menu-accordion menu-shadow" style="background-color: #33adff;">
        <!-- main menu header-->
        <div class="main-menu-header">
        </div>
        <!-- / main menu header-->
        <!-- main menu content-->
        <div class="main-menu-content">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class="nav-item text-white" style="background-color: #34ADFF;"><a class="text-white" href="" style="background-color: #34ADFF;"><i class="icon-tasks"></i><span data-i18n="nav.dash.main" class="menu-title text-white" >Products</span></a>
                    <ul class="menu-content" style="background-color: #66c2ff;">
                        <li class="active" style="background-color: #66c2ff;"><a href="server" data-i18n="nav.dash.main" class="menu-item text-white" style="background-color: #66c2ff;">Add one...</a>
                        </li>
                        <div id="servers">
                            <div v-for="(server, index) in servers">
                                <li v-on:click="setServerId(server)" style="background-color: #66c2ff;"><a v-on:click="setServerId(server)"  data-i18n="nav.dash.main" class="menu-item text-white"
                                        style="background-color: #66c2ff;">Server {{ index }}</a>
                                </li>
                            </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /main menu content-->
        <!-- main menu footer-->
        <!-- include includes/menu-footer-->
        <!-- main menu footer-->
    </div>
    <!-- / main menu-->

    <div class="app-content content container-fluid">
        <div class="header-navbar navbar navbar-with-menu navbar-fixed-top"></div>

        <div class="content-wrapper">
            <h1>PROFILES ARE COMING SOON</h1>
            <p>As soon as possible ^^</p>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->


    <footer class="footer footer-static footer-light navbar-border fixed-bottom">
        <p class="clearfix text-muted text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2018 <a href="" target="_blank" class="text-bold-800 grey darken-2">Glowy panel </a></span></p>
    </footer>

    <!-- BEGIN VENDOR JS-->
    <script src="js/core/libraries/jquery.min.js" type="text/javascript"></script>
    <script src="js/ui/tether.min.js" type="text/javascript"></script>
    <script src="js/core/libraries/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/ui/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="js/ui/unison.min.js" type="text/javascript"></script>
    <script src="js/ui/blockUI.min.js" type="text/javascript"></script>
    <script src="js/ui/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="js/ui/screenfull.min.js" type="text/javascript"></script>
    <script src="js/extensions/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="js/charts/chart.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    <script src="js/core/app-menu.js" type="text/javascript"></script>
    <script src="js/core/app.js" type="text/javascript"></script>
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->

    <script>
        function checkCookie() {
            var username = getCookie("username");
            if (username == "") {
                window.location.href = 'login';
            }
        }
        checkCookie();
        var timeQueue = 360000; //6 minutos
        window.onbeforeunload = function () {
            if (timeOut != null) {
                clearTimeout(timeOut);
                document.getElementById("estado").innerHTML = "Offline";
            }
        };
        var allIdArray = [];
        var ram = 256;
        var serverId = getCookie("serverID");
        var cookieName = document.cookie;
        var name = getCookie("username");
        document.getElementById("who").innerHTML = '<span class="glyphicon glyphicon-user"></span>' + name;
        var socket = io();
        this.socket = io.connect('http://localhost:8082');
        var submit = document.getElementById("submit");
        var submitram = document.getElementById("submitram");

        socket.emit('getNumberOfServersByName', name);
        socket.on('numberOfServersByName', function (maxId) {
            for (i = 0; i < maxId; i++) {
                allIdArray[i] = i;
                console.log("h")
            }
            console.log(allIdArray)
            var servers = new Vue({
                el: '#servers',
                data: {
                    servers: allIdArray
                },
                methods: {
                    setServerId: function (id) {
                        document.cookie = "serverID=" + id + ";path=/";
                        window.location.href = 'server';
                    }
                }
            })
        })

        socket.emit('status', name, serverId);
        socket.emit('getIP', name, serverId);

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
    </script>
</body>

</html>